* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  background-color: red;
  width: 100%;
  height: 100%;
  grid-template-columns: 5% 2% 1% 1% 2% 3% 1% 3% 2% 1% 5% 1% 1% 1% 3% 1% 1% 1% 3% 2% 5% 3% 3% 3% 2% 2% 3% 3% 2% 2% 5% 1% 1% 2% 1% 1% 3% 1% 3% 1% 5% 3%;
}

a {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: rgb(154, 186, 255);
  color: black;
  color: orange;
  color: white;
}
