* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: auto;
  font-family: sans-serif;
}
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  place-items: center;
}

.back {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.year {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  font-size: 5rem;
}

.quote {
  grid-column: 4 / span 3;
  grid-row: 4 / span 3;
  font-size: 2rem;
}
